{% extends 'layout.html'%}
{% block content  %}
    <div class='home-div'>
        <section class='first'>
            <div class='upper-left'>
                <h2>ICT Experts</h2>
            </div>
            <div class='bottom-left'>
                <h2>Products and Services</h2>
            </div>
            <div class='middle-sec'>
                <h1>SWATS Home Page</h1>
                <p>SWATS computers was founded with the goal of providing the best ICT products and services to the entire nation. We are on the road to achieving that.
                Welcome to our page. We are here to serve you.</p>
            </div>
            <div class='right-sec'>
                <h2>Contact Us</h2>
                <p><strong>Gmail:</strong> swatscomputers@gmail.com<br><strong>Website:</strong> www.swatscomputers.com</p>
            </div>
        </section>
        <section class='middle-page'>
            <ul>
                <li><a href='#'><i class="fa fa-address-card"></i></a><small>Communication</small></li>
                <li><a href='#'><i class="fa fa-bullseye"></i></a><small>CCTVS</small></li>
                <li><a href='#'><i class="fa fa-crosshairs"></i></i></a><small>Laptops</small></li>
                <li><a href='#'><i class="fa fa-comment"></i></i></i></a><small>Networking</small></li>
            </ul>
        </section>
        <section class='bottom'>
            <image class='picture' src='{{url_for('static', filename='scss/Home/1.jpg')}}', default='image not found'>
            <p><strong>Objectives:</strong>  To providing the best ICT products and services to our esteemed clients<br><strong>Mission:</strong>
            To reach out to the entire nation with our services</p>
        </section>
        <footer class='footer'>
        <p>SWATS &copy; 2020</p>
        </footer>
    </div>

{% endblock  %}