<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='{{url_for('static', filename='scss/style.css')}}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Flask</title>
</head>
<body>
    <header class='header'>
        <div class='checkbox'>
            <input type='checkbox' class='toggler'>
            <div class='btn'><div></div></div>
                <nav class='navigation'>
                    <div>
                        <div>
                            <ul>
                                <li><a href='{{url_for('home')}}'>Home</a></li>
                                <li><a href='{{url_for('products')}}'>Products</a></li>
                                <li><a href='{{url_for('login')}}'>Login</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main class='main'>
        {% block content%}
        {%endblock%}
        <footer class='footer'>
            <p>SWATS &copy; 2020</p>
        </footer>
    </main>
</body>
</html>