{% extends 'layout.html'%}
{% block content %}
    <div class='login'>
        <div class='login-div1'>
            <h3>Welcome to the Login Page</h3>
        </div>
        <div class='login-div2'>
            <form class='form'>
                <fieldset class='fieldset'>
                    <legend class='legend'>Log In</legend>
                    <label class='label'>Username</label>
                    <input type='text' class='input'>
                    <label class='label'>Email</label>
                    <input type='email' class='input'>
                    <label class='label'>Password</label>
                    <input type='password' class='input'>
                </fieldset>
                <input type='button' class='submit' value='Sign in' onclick="location.href='home';">
            </form>
        </div>
    </div>
{% endblock  %}