{% extends 'layout.html' %}
{% block content%}
    <div class='products-div'>
        <section class='sales'>
            <div>
                <img src='{{url_for('static', filename='scss/Laptops/1.jpg')}}'>
                <h4>Laptops1</h4>
                <p>Price: Ksh 30000</p>
            </div>
            <div>
                <img src='{{url_for('static', filename='scss/Laptops/2.jpg')}}'>
                <h4>Laptops2</h4>
                <p>Price: Ksh 15000</p>
            </div>
            <div>
                <img src='{{url_for('static', filename='scss/Laptops/3.jpg')}}'>
                <h4>Laptops3</h4>
                <p>Price: Ksh 20000</p>
            </div>
            <div>
                <img src='{{url_for('static', filename='scss/Laptops/4.jpg')}}'>
                <h4>Laptops4</h4>
                <p>Price: Ksh 35000</p>
            </div>
        </section>
        <section class='sales'>
            <div>
                <img src='{{url_for('static', filename='scss/Phones/1.jpg')}}'>
                <h4>Phone1</h4>
                <p>Price: Ksh 20000</p>
            </div>
            <div>
                <img src='{{url_for('static', filename='scss/Phones/2.jpg')}}'>
                <h4>Phone2</h4>
                <p>Price: Ksh 25000</p>
            </div>
            <div>
                <img src='{{url_for('static', filename='scss/Phones/3.jpg')}}'>
                <h4>Phone3</h4>
                <p>Price: Ksh 30000</p>
            </div>
            <div>
                <img src='{{url_for('static', filename='scss/Phones/4.jpg')}}'>
                <h4>Phone4</h4>
                <p>Price: Ksh 35000</p>
            </div>
        </section>
        <section class='sales'>
            <div>
                <img src='{{url_for('static', filename='scss/CCTVS/1.jpg')}}'>
                <h4>CCTV1</h4>
                <p>Price: Ksh 50000</p>
            </div>
            <div>
                <img src='{{url_for('static', filename='scss/CCTVS/2.jpg')}}'>
                <h4>CCTV2</h4>
                <p>Price: Ksh 60000</p>
            </div>
            <div>
                <img src='{{url_for('static', filename='scss/CCTVS/3.jpg')}}'>
                <h4>CCTV3</h4>
                <p>Price:Ksh 70000</p>
            </div>
            <div>
                <img src='{{url_for('static', filename='scss/CCTVS/4.jpg')}}'>
                <h4>CCTV4</h4>
                <p>Price: Ksh 80000</p>
            </div>
        </section>
    </div>
{% endblock %}