@mixin layout {
    margin: 0;
    padding: 0;
}
@mixin grids{
    display:grid;
    grid-gap: 10px;
    margin: 0;
    padding: 0;
    justify-content: center;
 }
 
 @mixin flexmix($dir){
    display:flex;
    flex-direction: $dir;
    justify-content: center;
    align-items: center;
 }

 @mixin boxes{
     box-sizing: border-box;
     padding: 10px;
     box-shadow: 0px 0px 38px 2px rgba(0,0,0,0.75);
     margin: 0 20px;
     min-height: 200px;
 }

 @mixin imgs {
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
 }

 @mixin fonts($size) {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: $size;
    margin-bottom: 0;
    color: $deepyellow;
 }
 @mixin animate($del) {
    animation-duration: 1s;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-timing-function: ease;
    animation-delay: $del;    
 }
 @mixin lists{
    list-style: none;
    @include flexmix(column);
    transition: all 0.3s ease 0.3s;
 } 

 @mixin background {
    top: 0;
    left: 0;
    z-index: -1; 
    opacity: 0.8;
    height: 100%;
    width: 100%;
 }