* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  top: 0;
  left: 0;
  /*layout.html*/
}

body .header {
  height: 50px;
  width: 50px;
}

body .header .checkbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  margin: 0;
  z-index: 1;
  position: fixed;
  height: 50px;
  width: 50px;
}

body .header .checkbox .navigation {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
}

body .header .checkbox .navigation > div {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 200vw;
  height: 200vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body .header .checkbox .navigation > div > div {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

body .header .checkbox .navigation > div > div ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .checkbox .navigation > div > div ul li a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

body .header .checkbox .toggler {
  z-index: 4;
  position: fixed;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  opacity: 0;
}

body .header .checkbox .toggler:checked + .btn {
  z-index: 3;
}

body .header .checkbox .toggler:checked + .btn > div {
  background: #fdf900;
  z-index: 3;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

body .header .checkbox .toggler:checked + .btn > div::before, body .header .checkbox .toggler:checked + .btn > div::after {
  z-index: 3;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background: inherit;
  -webkit-transition-delay: inherit;
          transition-delay: inherit;
}

body .header .checkbox .toggler:checked ~ .navigation {
  z-index: 2;
  visibility: visible;
  -webkit-transition: all 0.1s ease 0.1s;
  transition: all 0.1s ease 0.1s;
}

body .header .checkbox .toggler:checked ~ .navigation > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

body .header .checkbox .toggler:checked ~ .navigation > div > div {
  opacity: 1;
  -webkit-transition: ease 0.3s ease 0.3s;
  transition: ease 0.3s ease 0.3s;
}

body .header .checkbox .toggler:checked:hover + .btn > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 0;
}

body .header .checkbox .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  z-index: 1;
  width: 50px;
  height: 50px;
  position: fixed;
}

body .header .checkbox .btn div {
  width: 10px;
  height: 4px;
  background: #032f3e;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
}

body .header .checkbox .btn div::before, body .header .checkbox .btn div::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 4px;
  background: inherit;
  z-index: 1;
  border-radius: 5px;
  -webkit-transition: inherit;
  transition: inherit;
  z-index: 1;
}

body .header .checkbox .btn div::before {
  top: -16px;
}

body .header .checkbox .btn div::after {
  top: 16px;
}

body .main {
  position: absolute;
  top: 70px;
  /*home.html*/
  /*login page*/
  /*products page*/
}

body .main .home-div .first {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: 'upleft katikati katikati rightsec' 'downleft katikati katikati rightsec';
}

body .main .home-div .first .upper-left {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: upleft;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
  margin: 0 20px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .home-div .first .upper-left::after {
  content: "";
  background-image: url("2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
  height: auto;
}

body .main .home-div .first .upper-left h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
}

body .main .home-div .first .bottom-left {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: downleft;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
  margin: 0 20px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .home-div .first .bottom-left::after {
  content: "";
  background-image: url("3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
  height: auto;
}

body .main .home-div .first .bottom-left h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #fff;
}

body .main .home-div .first .middle-sec {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: katikati;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
  margin: 0 20px;
  min-height: 200px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

body .main .home-div .first .middle-sec::after {
  content: "";
  background-image: url("1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
  height: auto;
}

body .main .home-div .first .middle-sec h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #fff;
}

body .main .home-div .first .middle-sec p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #fff;
}

body .main .home-div .first .right-sec {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: rightsec;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
  margin: 0 20px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .home-div .first .right-sec::after {
  content: "";
  background-image: url("4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0.8;
  height: auto;
}

body .main .home-div .first .right-sec h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #fff;
}

body .main .home-div .first .right-sec p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #fff;
}

body .main .home-div .middle-page {
  margin-top: 30px;
}

body .main .home-div .middle-page ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  border: none;
  padding: 5rem;
}

body .main .home-div .middle-page ul li {
  width: 25%;
}

body .main .home-div .middle-page ul li:nth-of-type(1) {
  -webkit-animation: kwanza;
          animation: kwanza;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

body .main .home-div .middle-page ul li:nth-of-type(2) {
  -webkit-animation: pili;
          animation: pili;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

body .main .home-div .middle-page ul li:nth-of-type(3) {
  -webkit-animation: tatu;
          animation: tatu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

body .main .home-div .middle-page ul li:nth-of-type(4) {
  -webkit-animation: nne;
          animation: nne;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

body .main .home-div .middle-page ul li a {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  border-radius: 100%;
  color: #fdf900;
  background-color: #032f3e;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

body .main .home-div .middle-page ul li a:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  opacity: 0.7;
}

body .main .home-div .middle-page ul li small {
  font-family: sans-serif;
  margin-top: 5px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #032f3e;
}

@-webkit-keyframes kwanza {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

@keyframes kwanza {
  0% {
    left: -500px;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes pili {
  0% {
    left: -500px;
  }
  100% {
    left: 25%;
  }
}

@keyframes pili {
  0% {
    left: -500px;
  }
  100% {
    left: 25%;
  }
}

@-webkit-keyframes tatu {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 25%;
  }
}

@keyframes tatu {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 25%;
  }
}

@-webkit-keyframes nne {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 0;
  }
}

@keyframes nne {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 0;
  }
}

body .main .home-div .bottom {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
  margin: 0 20px;
  min-height: 200px;
  margin-bottom: 20px;
  border: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .home-div .bottom .picture {
  height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

body .main .home-div .bottom p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #032f3e;
}

body .main .login {
  height: 100vh;
  width: 100vw;
}

body .main .login .form-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
  margin: 0 20px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .login .form-wrap .login-div1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  height: 100%;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

body .main .login .form-wrap .login-div1 h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
  color: #fdf900;
}

body .main .login .form-wrap .login-div2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  height: 100%;
  width: 60%;
  margin-left: 10px;
}

body .main .login .form-wrap .login-div2 .form {
  border: none;
  background: transparent;
}

body .main .login .form-wrap .login-div2 .form .fieldset {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .main .login .form-wrap .login-div2 .form .fieldset .legend {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #032f3e;
}

body .main .login .form-wrap .login-div2 .form .fieldset .label {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #032f3e;
  margin-bottom: 5px;
}

body .main .login .form-wrap .login-div2 .form .fieldset .input {
  border: none;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid #032f3e;
  margin-bottom: 5px;
}

body .main .login .form-wrap .login-div2 .form .fieldset .input:checked {
  border: 1px solid #032f3e;
  background: inherit;
}

body .main .login .form-wrap .login-div2 .submit {
  width: 100%;
  background: #032f3e;
  color: #fff;
  -webkit-transition: all 0.3s ease 0.3s;
  transition: all 0.3s ease 0.3s;
}

body .main .login .form-wrap .login-div2 .submit:hover {
  opacity: 0.7;
}

body .main .products-div .sales {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-bottom: 20px;
}

body .main .products-div .sales div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 38px 2px rgba(0, 0, 0, 0.75);
  margin: 0 20px;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

body .main .products-div .sales div image {
  width: auto;
  height: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

body .main .products-div .sales div h4 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 2rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #032f3e;
}

body .main .products-div .sales div p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #032f3e;
}

body .main .footer {
  background: #032f3e;
  bottom: 0;
  padding: 2rem;
  margin-top: 20px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
  color: #fff;
  text-align: center;
}

body .main .footer p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1rem;
  margin-bottom: 0;
  color: #fdf900;
}

@media (max-width: 700px) {
  .first {
        grid-template-areas: 'upleft downleft' 'katikati katikati' 'rightsec rightsec';
  }
}

@media (max-width: 500px) {
  .first {
        grid-template-areas: 'upleft'  'downleft' 'katikati' 'rightsec';
  }
}
/*# sourceMappingURL=style.css.map */